<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cleanerapp.supermanager">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" /> <!-- 消息推送的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!-- 接入XAL场景化SDK所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- 如果不需要场景化SDK声明的权限可以通过下述方式去掉 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 开机自动启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 卸载时检查是谁卸载的 -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 保持在平面的最前面显示系统清理动画 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 查询网络链接类型需要这个权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 升级，联网查询云分类需要此权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 监听来电，来电后停止清理， 以免干扰到接电话 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!--  -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 读写SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读写SD卡 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" /> <!-- one tap boost 快捷键 -->
    <!--
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" /> <!-- android.permission.WRITE_SETTINGS -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>

    <application
        android:name="com.goodmorning.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/string_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name="com.goodmorning.ui.activity.WebviewActivity"
            android:screenOrientation="portrait"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.goodmorning.splash.SplashActivity"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode"
            android:label="@string/string_app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/windowShowPreviewTheme" />
        <activity
            android:name="com.goodmorning.splash.SplashDispatcherActivity"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode"
            android:label="@string/string_app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/windowShowPreviewNoAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.goodmorning.MainActivity"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode"
            android:label="@string/string_app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.clean.binder.mgr.BinderService"
            android:exported="false"
            android:process="${applicationId}.background" />

        <provider
            android:name="com.clean.binder.mgr.MultiProcessBinderProvider"
            android:authorities="com.binder.provider_${applicationId}"
            android:exported="false"
            android:process="${applicationId}.background" /> <!-- branch -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="H7ASntPGBGpifP54_VTLxqlVVR-koHa3PlVAcwRoAFUqeaud5M-0AiWg9VOxn--AkULKOo6T1bNfBGIGcGHo-o" /> <!-- Adjust -->
        <meta-data
            android:name="com.adjustX.sdk.appToken"
            android:value="kbiaawp47tog" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/client_token" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/provider_auth"
            android:exported="true" />
    </application>

</manifest>