<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k.permission"
    >

    <application>

        <activity
            android:name=".PermissionCheckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/CustomTheme_Dialog"
            >
        </activity>

    </application>
</manifest>